.full-width {
  width: 100%;
}

.body-content {
  height: calc(100vh - 90px);
}


.body-content>.row {
  height: 100%;
}

.pr-15 {
  padding-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.bg-navbar-orange {
  background-color: #e3350d;
  border-bottom: 3px solid #ffcb04;
  height: 90px;
}

.filter-bar {
  border-left: 3px solid #84837d;
}

.bg-navbar-orange img {
  max-width: 120px;
  max-height: 120px;
}

.bg-navbar-orange .nav-link {
  color: white;
  font-size: 20px;
}

.bg-navbar-orange .nav-link:hover {
  color: #ffcb04;
}

.bg-navbar-orange .form-control {
  height: 50px;
  border-radius: 15px;
}

/******* 



Inputs laterales y sus colores 




*******/

.left-input-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-type {
  border-radius: 20px !important;
  border-color: transparent !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.input-psychic {
  color: white !important;
  background-color: purple !important;
}

.input-water {
  color: white !important;
  background-color: blue !important;
}

.input-grass {
  color: white !important;
  background-color: green !important;
}

.input-fire {
  color: white !important;
  background-color: red !important;
}




.input-title {
  font-size: 16px;
  font-weight: 600;
  color: #84837d;
}






@media (max-width: 991px) {
  .bg-navbar-orange {
    height: auto;
  }
}